.box{
	width: 100%;
	height: 100%;
	font-size: 0.14rem;
	background: #EEEEEE;
}
/*状态栏*/
.zhuangTai{
	background: white;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
}
.zhuangTai>p{
	width: 96%;
	margin: 0 auto;
	font-size:0.1rem;
}
.zhuangTai>img{
	width: 100%;
	padding: 0.05rem 0.2rem 0 0.2rem;
}
/*头部*/
.toubu{
	width: 100%;
	background: white;
	padding: 0.1rem 0 0.1rem 0;
	position: fixed;
	font-size: 0.18rem;
	z-index: 999;
	border-bottom: 0.01rem solid #999999;
	display: flex;
	top: 0rem;
}
.toubu>p:nth-child(1){
	margin-left: 3%;
}
.toubu>p>a>img{
	width: 50%;
}
.toubu>p:nth-child(2){
	margin-left: 35%;
}
.xinxi{
	margin-top: 0.42rem;
	width: 100%;
	background: white;
}
.xinxi>.wai{
	padding: 0.2rem 0 0.1rem 0;
	width: 94%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.xinxi>.wai>.zuo{
	width: 80%;	
}
.xinxi>.wai>.zuo>ul{
	display: flex;
}
.xinxi>.wai>.zuo>ul>li:nth-child(1){
	width: 20%;
}
.xinxi>.wai>.zuo>ul>li>img{
	width: 90%;
}
.xinxi>.wai>.zuo>ul>li>p:nth-child(1){
	font-size: 0.16rem;
}
.xinxi>.wai>.zuo>ul>li>p:nth-child(2){
	font-size: 0.1rem;
	color: #999999;
}
.xinxi>.wai>.zuo>ul>li>p:nth-child(2)>img{
	width: 25%;
}
.xinxi>.wai>.you{
	width: 20%;
}
.xinxi>.wai>.you>p{
	background: #2DD7A8;
	color: white;
	border-radius: 0.07rem;
	margin-top: 0.1rem;
	padding: 0.05rem;
	text-align: center;
}
.cuxiao{
	width: 100%;
	background: white;
	padding: 0 0 0.1rem 0;
	margin-bottom: 0.1rem;
}
.cuxiao>ul{
	width: 94%;
	margin: 0 auto;
	padding: 0.05rem 0;
	border-bottom: 0.01rem solid #B6B6B6;
	display: flex;
	justify-content: space-around;
}
.cuxiao>ul>li{
	width: 25%;
	height: 0.15rem;
	padding: 0 0 0.3rem 0;
	text-align: center;
}
.cuxiao>ul>li:nth-child(1){
	border-right: 0.01rem solid #999999;
}
.cuxiao>ul>li:nth-child(2){
	border-right: 0.01rem solid #999999;
}
.cuxiao>ul>li:nth-child(3){
	border-right: 0.01rem solid #999999;
}
.cuxiao>p{
	margin-left: 3%;
	padding: 0.1rem 0 0 0;
	color: #676767;
}
.cuxiao>p>b{
	color: black;
}
.cuxiao>p>span{
	color: #2DD7A8;
}
.dianhua{
	width: 100%;
	margin-bottom: 0.1rem;
	background: white;
}
.dianhua>div{
	width: 97%;
	margin-left: 3%;
	padding: 0.1rem 0;
	border-bottom: 0.01rem solid #EEEEEE;
}
.dianhua>div>p{
	width: 96%;
	display: flex;
	justify-content: space-between;
}
.dianhua>div>p>img{
	width: 5%;
	height: 0.21rem;
}
.jianjie{
	width: 100%;
	margin-bottom: 0.1rem;
	background: white;
}
.jianjie>div{
	width: 97%;
	margin-left: 3%;
	padding: 0.1rem 0;
	border-bottom: 0.01rem solid #EEEEEE;
}
.jianjie>div>p{
	width: 96%;
	display: flex;
	justify-content: space-between;
}
.jianjie>div>p>b{
	width: 25%;
}
.jianjie>div>p>span{
	width: 75%;
}
